button.submit,
a.submit {
    background-image: url(../img/button-right.gif);
    -ie-xp: expression(
              this.parsed ? 0 :(
                this.onmouseover = new Function("this.className += ' submit-hover'"),
                this.onmouseout = new Function("this.className = this.className.replace(' submit-hover','')"),
              this.parsed = 1)
            );
    overflow: visible;
}

a.submit {
    overflow: hidden;
}

button.submit div,
a.submit div {
    _background-image: url(../img/button-left.gif);
    _float: left;
}
button.submit-hover {
    background-position: right -25px;
    cursor: pointer;
}

button.submit-hover div {
    background-position: left -25px;
}

ul li {
    -ie-xp: expression(
        this.parsed ? 0 : (
            this.className += ((this == this.parentNode.firstChild) ? " first-child" :""),
            this.className += ((this == this.parentNode.lastChild) ? " last-child" :""),
            this.parsed = 1
        )
    );
}

ul.pipes li {
    -ie-xp: expression(
        this.parsed ? 0 : (
            this == this.parentNode.firstChild ? 0 : this.innerHTML = " | " + this.innerHTML,
            this.parsed = 1
        )
    )
}

#top #logo,
#top #logo a {
    background-image: none;
}

#top #logo a {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/img/logo.png",sizingMethod="crop");
}

#tabs {
    -ie-xp: expression(
        this.parsed ? 0 : (
            lis = this.getElementsByTagName('li'),
            w = 0,
            w += (lis.length > 0 ? lis[0].offsetWidth : 0),
            w += (lis.length > 1 ? lis[1].offsetWidth : 0),
            w += (lis.length > 2 ? lis[2].offsetWidth : 0),
            w += (lis.length > 3 ? lis[3].offsetWidth : 0),
            w += (lis.length > 4 ? lis[4].offsetWidth : 0),
            w += (lis.length > 5 ? lis[5].offsetWidth : 0),
            w += (lis.length > 6 ? lis[6].offsetWidth : 0),
            w += (lis.length > 7 ? lis[7].offsetWidth : 0),
            w += (lis.length > 8 ? lis[8].offsetWidth : 0),
            w += (lis.length > 9 ? lis[9].offsetWidth : 0),
            this.style.width = w.toString() + 'px',
            this.parsed = 1
        )
    );
}

#tabs li a {
    background-image: url(../img/tabs.gif);
    float: left;
}

/* malaria */
#top #logo {
    margin-left: 7px;
}

#tabs {
    margin-right: 7px;
}

#content {
    background-image: url(../img/content-top.gif);
}

#content div.compass {
    zoom: 1;
}

#content ul.tabs {
    position: relative;
    zoom: 1;
}

#content ul.tabs li a {
    float: left;
}

#main {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/img/main.png",sizingMethod="crop");
}

#main h1.tagline,
#content h1.tagline {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/img/tagline.png",sizingMethod="crop");
}

#main a.submit {
    zoom: 1;
    position: relative;
    z-index: 10000;
}

#content div.column-left ul.videos li.first-child,
#footer ul.splashlinks li.first-child {
    margin: 0;
}

#wrapper #content dl.form input,
#wrapper #content dl.form textarea {
    margin: 0;
}

#content div.column-left ul.articles li a span.pdf,
#content div.column-left ul.articles-long li a span.pdf {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/img/article-pdf.png",sizingMethod="crop");
}

#content div.column-left ul.articles li a:hover span.pdf,
#content div.column-left ul.articles-long li a:hover span.pdf {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/img/article-pdf-hover.png",sizingMethod="crop");
}

#content div.column-left ul.articles li.first-child,
#content div.column-left ul.articles-long li.first-child {
    margin: 0;
}